@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap";

@import "tailwindcss";
@plugin "daisyui" {
     themes: "lofi", "lofi-dark";
}

@theme {
  --animate-hehe: hehe .8s ease-in-out infinite;

  @keyframes hehe {
    50% {
      opacity: .1
    }
  }
  
  --font-sans: "Poppins", sans-serif;
  
  /* default custom values */
  --color-base-100: #000000;
  --color-base-200: #080808;
  --color-base-300: #101010;
  --color-base-content: #d6d6d6;
  --color-base-content-dim: #d6d6d630;

  --color-f1color: #FF6A83;
  --color-f1color-15: #ff766a;
  --color-f1color-30: #ff9b6a;
  --color-f1color-dim: #EE86B880;

  --color-f2color: #B987F5;
  --color-f2color-15: #d486f5;
  --color-f2color-30: #f086f5;
  --color-f2color-dim: #B987F580;

  --color-f3color: #A6BFF7;
  --color-f3color-15: #a5aaf7;
  --color-f3color-30: #b5a5f7;
  --color-f3color-dim: #A6BFF780;
  
  --color-info: #5AA9FA;         
  --color-info-content: #192532; 
  --color-success: #4CCB83;      
  --color-success-content: #101f0d;
  --color-warning: #FACC57;       
  --color-warning-content: #332710;
  --color-error: #E4474B;         
  --color-error-content: #fceae8;
}

@plugin "daisyui/theme" {
  name: "lofi";
  color-scheme: "light";
  --color-base-100: #ffffff; /* pure white */
  --color-base-200: #f0f2f5; /* cool light gray */
  --color-base-300: #e4e7eb; /* medium-light gray */
  --color-base-content: #161616;
  --color-base-content-dim: #16161630;
  --color-primary: #FF6A83;
  --color-primary-content: #3A000B;
  --color-secondary: #6BD3FF;
  --color-secondary-content: #002B38;
  --color-accent: #FFB86B;
  --color-accent-content: #2C2A00;
  --color-neutral: #1C1B22;      
  --color-neutral-content: #d9dfe5;

  --color-utilization: #EEA1FF;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.2075rem;
  --size-field: 0.2075rem;
  --border: 0.1px;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "lofi-dark";
  default: true;
  color-scheme: "dark";
  --color-base-100: #000000;
  --color-base-200: #080808;
  --color-base-300: #101010;
  --color-base-content: #d6d6d6;
  --color-base-content-dim: #d6d6d630;
  --color-primary: #FF6A83;
  --color-primary-content: #3A000B;
  --color-secondary: #6BD3FF;
  --color-secondary-content: #002B38;
  --color-accent: #FFB86B;
  --color-accent-content: #2C2A00;
  --color-neutral: #1C1B22;      
  --color-neutral-content: #d9dfe5;

  --color-utilization: #EEA1FF;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.2075rem;
  --size-field: 0.2075rem;
  --border: 0.1px;
  --noise: 1;
}

.custom-tooltip {
  border-radius: 0.4rem !important; /* Adjust as needed */
  z-index: 50 !important;
  max-width: 200px !important;
  padding: 4px 4px !important;
}

.opacity {
  opacity: 50%;
}

html {
  font-family: var(--font-sans);
}


input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
